/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	header ul li.icon-item{
		font-size: 16px;
		padding-left: 0;
		padding-right: 0;
	}
	header ul li.icon-item .icon {
		padding-left: 20px;
		padding-right: 20px;
	}
	header ul li.menu-item{
		margin-right: 0px;
	    padding: 0 15px 0 20px;
	}
} 

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
	header ul li.icon-item {
    	padding: 0 !important;
    }
	header ul li.icon-item .icon {
		padding: 20px 18px !important;
	}
	.banners .banners-wrapper{
	    padding-right: 15px;
	    margin-right: auto;
	    padding-left: 15px;		
	}
	.banners .banners-wrapper .banner{
	    height: 410px;
	}	
	.timer-offer .offer-wrapper{
		padding: 60px 10px;
	}
	.timer-offer .offer-wrapper .timer .date{
	    font-size: 15px !important;
	}	
	.timer-offer .offer-wrapper .timer .title{
		font-size: 12px;
	}
	.timer-offer .offer-wrapper .timer ul li{
	    padding: 0px 8px;
	}
	.home-slider{
	    padding: 0 1px;
	    background: #EEEEEE;
	}
	.product-page .additional-options .option-wrapper {
    	margin-right: 60px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.menu .content-wrapper .brands .brands-colums .brand{
	    padding: 0px 15px;
	}		
	.tabs .tabs-wrapper .tab{
	    border-left: 1px solid #D8DFE1;
	    border-right: 1px solid #D8DFE1;   
	    border-bottom: none; 
	}	
	.tabs .tabs-wrapper .tab:first-child{
	    border-right: none;
	}
	.tabs .tabs-wrapper .tab:last-of-type{
    	border-left: none;	    
	}	
} 
/* Custom 768px and down */
@media only screen and (max-width: 768px) {
	.timer-offer .offer-wrapper .image-wrapper{
		display: none;
	}
	.container {
    	max-width: 100% !important;
	}	
	footer .container{
		padding: 0 30px;
	}
	.timer-offer .offer-wrapper{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    	box-shadow: none;		
	}
	.tabs{
		padding: 0;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.menu .content-wrapper .column .link-wrapper .title a{
	    font-size: 18px;
	}
	.menu .content-wrapper .column .link-wrapper .under-list li > a{
		font-size: 15px;
	}
	header ul li.logo-item{
		display: flex !important;
	}			
} 
/* Custom 992px and down */
@media only screen and (max-width: 992px) {
	.timer-offer .offer-wrapper h1{
		font-size: 29px;
	}
	.timer-offer .offer-wrapper .timer .date{
	    font-size: 24px;
	}
	.catalog-way .content-wrapper .image{
		display: none !important;
	}
	.catalog-way .content-wrapper {
    	padding: 30px 40px;
    }
    header ul li.logo-item{
    	display: none !important;
    }
    header ul li.icon-item{
    	padding: 0;
    }
	header ul li.icon-item .icon {
		padding: 25px;
	}
    .product-fixed-menu .desktop{
    	display: none !important;
    }    
    .product-fixed-menu{
    	padding-top: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
	header ul li.text-item,
	header ul li.logo-item{
		display: flex !important;
		justify-content: center;
		align-items: center;
	}		
	header ul:last-of-type li.text-item{
	    margin-right: 50px; 
	}
	header ul li.menu-item {
	    margin-right: 30px;
	}
	header ul li.text-item{
	    margin-right: 35px;
	}
	.menu .content-wrapper .brands .brands-colums .brand{
	    padding: 40px 30px;
	}		
}
/** Custom beetwen 690px and 576px */
@media only screen and (max-width: 690px) and (min-width: 576px) {
	.products-table-catalog .product .info .buttons button.buy-btn{
		margin-left: 0;
		padding: 10px 13px;
	}
	.products-table-catalog .product .info .buttons button, .products-table-catalog .product .info .buttons a{
    	padding: 10px;
	    font-size: 13px;
	}
	.products-table-catalog .product .info .buttons button.compare-btn, .products-table-catalog .product .info .buttons .like-btn{
		margin-left: 0;
	}
}
/** Custom 350px and down */
@media only screen and (max-width: 350px){
	.products-table-catalog .product .info .buttons button.buy-btn{
		padding: 10px 13px;
	}
	.products-table-catalog .product .info .buttons button, .products-table-catalog .product .info .buttons a{
    	padding: 10px;
	    font-size: 13px;
	}
	.product-page .price-info .compare-btn, .product-page .price-info .like-btn{
		font-size: 12px;
	}
}
/** Custom 1440px and up */
@media only screen and (min-width: 1440px){
	.products-table-catalog .container:first-child{
    	padding-right: 0;
    	padding-left: 0;
	}
	.banners .banners-title{
    	padding-left: 0;
    	padding-right: 0;		
	}
	.banners .banners-wrapper{
	    padding-right: 0px;
	    padding-left: 20px;  
	}	
	.banners .banners-wrapper .tns-outer{
	    margin-left: -20px;
	}
}
/** Custom 576px and down */
@media only screen and (max-width: 576px) {
	.banners .banners-wrapper .tns-outer{
		margin-left: 0px;
	}
	footer .content-wrapper{
		margin-bottom: 30px;
	}
	footer .content-wrapper:last-of-type{
		margin-bottom: 0px;
	}
	.catalog-filters-menu .filters-menu.desktop{
		display: none !important;
	}
	.catalog-filters-menu .filters-menu.mobile{
		display: block;
	}
	.product-page {
    	padding: 30px 0 20px;
	}	
	.product-page .product-avatar{
		padding-top: 0;
	    margin: 0px auto;
	    display: block;
	    width: 40%;		
	}
	.product-page .back-link{
		margin-top: 40px;
		font-size: 12px;
	}
	.product-page .back-link i{
		font-size: 16px;
	}
	.product-page .product-title{
		font-size: 20px;
	}
	.product-page .price-info .compare-btn{
		margin-right: 5px;
	}
	.product-page .price-info .line{
		width: 100%;
	}
	.product-page .additional-options .option-wrapper h3{
		font-size: 17px;
	}
    .product-page .price-info{
    	margin-top: 30px;
	    text-align: right;
    }
    .product-page .price-info .price{
        -webkit-box-pack: end!important;
        -ms-flex-pack: end!important;
    	justify-content: flex-end!important;    	
    }
    .product-fixed-menu .product-title{
	    font-size: 20px;
        margin-left: 15px;
    }
    .product-fixed-menu .price{
	    font-size: 19px;
    }
    .product-fixed-menu .buy-btn{
    	padding: 10px 16px;
    }
    .product-fixed-menu .product-menu .anchor-link-menu{
    	margin-top: 30px;
    }
    .product-fixed-menu .tablet-mobile{
    	display: block !important;
    }    
}
/** Custom */
@media only screen and (max-width: 1430px) {
	.container{
	    max-width: 96%;
	}
	.catalog-filters-menu .filters-menu {
	    padding: 0 20px !important;
	}	
	.catalog-filters-content .filters{
		padding: 60px 20px 30px;
	}
}
/** Custom */
@media only screen and (max-width: 991px) {
	.menu .content-wrapper .column .link-wrapper.pages-navigation{
    	display: block;
	}	
	.catalog-way .content-wrapper .image{
		height: auto;
	}
	header ul li.text-item{
		display: none !important;
	}
}
/** Custom */
@media only screen and (max-width: 420px) {
	header ul li.icon-item {
    	padding: 0 !important;
    }
	header ul li.icon-item .icon {
		padding: 18px 12px !important;
	}
	header ul li.menu-item {
	    padding: 0 15px;
	}    
}
/** Custom */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .product-page .product-title{
    	font-size: 24px;
    }
    .product-page .back-link{
    	font-size: 12px;
    }
    .product-page .back-link i{
    	font-size: 17px;
    }
    .product-page .price-info .compare-btn{
    	margin-right: 10px;
    }
    .product-page .additional-options .option-wrapper h3{
    	font-size: 17px;
    }
    .product-page .amount-checker{
	    padding: 8px 4px 4px 4px;
    }
    .product-page .amount-checker .amount-value{
    	margin:0;
    }
    .product-page .additional-options .option-wrapper ul > li{
    	font-size: 15px;
	    margin-right: 12px;
    }
    .product-page .price-info .buy-btn{
	    padding: 15px 14px;
	    margin: 0;
	    margin-bottom: 30px;
    }
    .product-page .price-info .price{
    	font-size: 23px;
    }
    .product-page .price-info .last-price{
    	font-size: 16px;
    }
    .product-page .price-info .discount-percent{
	    padding: 2px 9px;
    }
    .product-page .product-avatar{
    	width: 100%;
    }
    .product-page .additional-options .option-wrapper.tablet-view{
    	display: block;
    }
    .product-page .price-info .line{
    	width: 95%;
    }
    .product-page .additional-options .option-wrapper{
	    margin-right: 70px;
    }
    .product-fixed-menu .product-title{
	    font-size: 24px;
        margin-left: 15px;
    }
    .product-fixed-menu .price{
	    font-size: 21px;
    }
    .product-fixed-menu .buy-btn{
    	padding: 10px 20px;
    }
    .product-fixed-menu .product-menu .anchor-link-menu{
    	margin-top: 30px;
    }
    .product-fixed-menu .tablet-mobile{
    	display: block !important;
    }    
    .product-page .image-slider .slides .slide{
	    padding: 12px 20px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
    .product-page .product-avatar{
    	width: 100%;
    	padding-top: 0;
    }
    .product-page .product-title{
    	font-size: 24px;
    }
    .product-page .back-link{
    	font-size: 12px;
    }
    .product-page .back-link i{
    	font-size: 17px;
    }
    .product-page .price-info .compare-btn{
    	margin-right: 10px;
    }
    .product-page .additional-options .option-wrapper h3{
    	font-size: 17px;
    }
    .product-page .amount-checker{
	    padding: 8px 4px 4px 4px;
    }
    .product-page .amount-checker .amount-value{
    	margin:0;
    }
    .product-page .additional-options .option-wrapper ul > li{
    	font-size: 15px;
	    margin-right: 12px;
    }
    .product-page .price-info .buy-btn{
		padding: 14px 30px;
    	margin: 0;
    	margin-bottom: 20px;
    }
    .product-page .price-info .price{
    	font-size: 23px;
    }
    .product-page .price-info .last-price{
    	font-size: 16px;
    }
    .product-page .price-info .discount-percent{
	    padding: 2px 9px;
    }
    .product-page .price-info .line{
    	width: 95%;
    }
    .product-page .additional-options .option-wrapper{
    	margin-right: 50px;
    }
    .product-page .col-sm-12 .price-info{
    	margin-top: 30px;
	    text-align: right;
    }
    .product-page .price-info .price{
        -webkit-box-pack: end!important;
        -ms-flex-pack: end!important;
    	justify-content: flex-end!important;    	
    }
    .product-fixed-menu .product-title{
	    font-size: 20px;
        margin-left: 15px;
    }
    .product-fixed-menu .price{
	    font-size: 19px;
    }
    .product-fixed-menu .buy-btn{
    	padding: 10px 16px;
    }
    .product-fixed-menu .product-menu .anchor-link-menu{
    	margin-top: 30px;
    }
    .product-fixed-menu .tablet-mobile{
    	display: block !important;
    }  
    .product-page .image-slider .slides .slide{
	    padding: 8px 15px;
    }          
}
/** Custom */
@media only screen and (max-width: 400px) {
	.product-page .additional-options .option-wrapper{
		margin-right: 0;
	    float: inherit;
        margin-bottom: 35px;
	}
	.product-page .price-info .buy-btn{
		width: 100%;
		margin-top: 0;
	    margin-bottom: 30px;
	}
    .product-fixed-menu .product-title{
	    font-size: 19px;
        margin-left: 15px;
    }
    .product-fixed-menu .price{
	    font-size: 18px;
    }
    .product-fixed-menu .buy-btn{
    	padding: 10px 16px;
    }
    .product-fixed-menu .product-menu .anchor-link-menu{
    	margin-top: 30px;
    }	
}