.pull-right{
    float: right !important;
}
.no-pad{
    padding: 0 !important;
}
.no-marg{
    margin:0 !important;
}
.text-center{
    text-align: center;
}
.relative{
    position: relative;
}
body.open-modal {
    overflow-y: hidden;
}
.btn{
    font-family: 'OpenSans';
    border: none;
    background: none;
    padding: 10px 22px;
    border-radius: 2px;
    font-size: 12px;    
    cursor: pointer;
}
.container{
    max-width: 1400px;
}
.transition-2s{
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;    
}
.transition-3s{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;    
}
.transition-5s{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;    
}
.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 7px;    
    font-weight: 100;
    font-size: 13px;
    font-family: 'OpenSans';
    color:#161616;
    border:1px solid #D8DFE1;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding: 10px 12px;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border: 4px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 12px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    color: #5D6065;
    font-family: 'OpenSans';
    font-weight: 100;
    font-size: 12px;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    margin: 0 0;
    padding: 14px 10px;
}
.options li:hover {
    background-color:#F8F8F8;
    color:#161616;
}       

header{
    background: #EEEEEE;
    width: 100%;
}
header ul li{
    display: inline-block;
    padding: 12px 0px;
    color: #848789;
    font-family: 'OpenSans';
}
header ul li.icon-item{
    font-size: 18px;
    border-right: 1px solid #CED5D7;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    color: #848789;
}
header ul li.icon-item:hover,
header ul li.icon-item.active{
    background: #4A41DB;
    color: #fff;
}
header ul li.icon-item.left-border{
    border-left: 1px solid #CED5D7;
}
header ul li.icon-item .icon{
    position: relative;
}
header ul li.icon-item .icon .counter{
    position: absolute;
    top: -10px;
    right: -11px;
    font-size: 11px;
    background: #5ED4FB;
    padding: 3px 6px;
    color: #fff;
    border-radius: 50%; 
    font-family: 'Roboto';
    font-weight: bold;
}
header ul li.menu-item{
    margin-right: 15px;
    cursor: pointer;
    padding: 0 15px 0 25px;
}
header ul li.menu-item:hover{
    background: #4A41DB;
    color: #fff;
}
header ul li.menu-item:hover .icon span{
    background: #fff;
}
header ul li.menu-item .icon{
    font-size: 18px;
    position: relative;
    width: 15px;
    bottom: 6.7px;
}
header ul li.menu-item .icon span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #848789;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
header ul li.menu-item .icon span:nth-child(1) {
  top: 0px;
}
header ul li.menu-item .icon span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 5px;
}
header ul li.menu-item .icon span:nth-child(4) {
  top: 10px;
}
header ul li.menu-item.open .icon span:nth-child(1) {
  top: 5px;
  width: 0%;
  left: 50%;
}
header ul li.menu-item.open .icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
header ul li.menu-item.open .icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 5px;
}
header ul li.menu-item.open .icon span:nth-child(4) {
  top: 5px;
  width: 0%;
  left: 50%;
}
header ul li.menu-item .text{
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
}
header ul li.text-item{
    margin-right: 20px;
}
header ul li.text-item a:hover{
    border-bottom: 1px solid #848789
}
header ul:last-of-type li.text-item{
    margin-right: 20px;
}
header ul li.text-item > a{
    font-size: 14px;
    color: #848789;
}
header ul li.logo-item > a{
    font-size: 20px;
    color: #848789;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 15px;
}

.menu{
    padding: 0px;
    position: fixed;
    z-index: 99;
    height: auto;
    width: 100%;    
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    transform: translateY(200%);    
    background: #fff;
    border-top: 2px solid #4A41DB;
    padding-bottom: 30px;
}
.menu.open{
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);     
}
.menu .content-wrapper{
    padding-top: 35px;
}
.menu .content-wrapper .column .link-wrapper .title a{
    color: #4A41DB;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Oswald';
}
.menu .content-wrapper .column .link-wrapper .title a:hover,
.menu .content-wrapper .column .link-wrapper .title .open-list-btn i:hover{
    color: #7067ff;
}
.menu .content-wrapper .column .link-wrapper .title .open-list-btn{
    margin-left: 25px;
    font-size: 14px;
    cursor: pointer;    
}
.menu .content-wrapper .column .link-wrapper .title .open-list-btn i{
    color: #4A41DB;
    position: absolute;
    top: 5px;        
}
.menu .content-wrapper .column .link-wrapper .title .open-list-btn .show
.mobile-menu .menu-list .link .title .open-list-btn .show{
    opacity: 1;
}
.menu .content-wrapper .column .link-wrapper .title .open-list-btn .hide,
.mobile-menu .menu-list .link .title .open-list-btn .hide{
    opacity: 0;
}
.menu .content-wrapper .column .link-wrapper .under-list{
    margin: 10px 0px 20px;
    height: 0px;
    overflow: hidden;
}
.menu .content-wrapper .column .link-wrapper .under-list li > a{
    font-family: 'OpenSans';
    font-size: 14px;
    color: #848789;
}
.menu .content-wrapper .column .link-wrapper .under-list li > a:hover{
    color: #4A41DB;
}
.menu .content-wrapper .column .link-wrapper .under-list li{
    margin-bottom: 10px;
}
.menu .content-wrapper .brands{
    margin-top: 20px;
}
.menu .content-wrapper .brands .brands-colums .brand{
    padding: 20px 20px;
}

.mobile-menu{
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;  
    overflow: auto;  
    background: #fff;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);     
}
.mobile-menu.open{
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);       
}
.mobile-menu .header{
    height: 100px;
}
.mobile-menu .logo-wrapper{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 84.375%;
    border-bottom: 1px solid #CED5D7;
    background: #EEEEEE;
}
.mobile-menu .logo-wrapper .logo{
    font-size: 32px;
    color: #848789;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 15px; 
    position: absolute;
    width: 250px;
    height: 52px;
    left: 38px;
    top: 50px; 
    font-family: 'OpenSans';      
}
.mobile-menu .header .close-btn{
    font-size: 33px;
    height: 33px;
    right: 5%;
    top: 88px;
    position: absolute;
    cursor: pointer;
    color: #848789;
}
.mobile-menu .menu-list{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    border-bottom: none;
    width: 84.375%;
}
.mobile-menu .menu-list .link{
    border-bottom: 1px solid #CED5D7;
}
.mobile-menu .menu-list .link .title{
    background-color: #EEEEEE;
    padding: 20px 38px 15px;
}
.mobile-menu .menu-list .link .title a{
    color: #4A41DB;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Oswald';
}
.mobile-menu .menu-list .link .title .open-list-btn i{
    color: #4A41DB;
    position: absolute;
    top: 20px;
    right: 38px;
    font-size: 18px;
}
.mobile-menu .menu-list .under-list{
    height: 0px;
    overflow: hidden;
    background-color: #EEEEEE;
}
.mobile-menu .menu-list .under-list li{
    padding: 5px 38px;
}
.mobile-menu .menu-list .under-list li >a{
    font-family: 'OpenSans';
    font-size: 14px;
    color: #848789;
}

.home-slider{
  /*padding: 20px;*/
}
.home-slider div{
    height: 100%;
    width: 100%;
}

.tabs{
    padding: 0px 20px;
}
.tabs .tabs-wrapper{
    background: #F8F8F8;
}
.tabs .tabs-wrapper .tab{
    padding: 20px 0px;
    color: #5D6065;
    text-transform: uppercase;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-left: 1px solid #D8DFE1;
    border-right: 1px solid #D8DFE1;    
    border-bottom: 1px solid #D8DFE1;
    border-top: 1px solid transparent;
}
.tabs.image-tabs .tabs-wrapper .tab{
    padding: 12px 0px;
}
.tabs .tabs-wrapper .tab.active{
    background: #fff;
    color: #4A41DB;
    border-top: 1px solid #4A41DB;
}
.tabs .tabs-wrapper .tab:not(.active):hover{
    background: #e0e0e0;
}
.tabs .tabs-wrapper .tab img{
    margin-right: 15px;
}

.products-table-catalog{
    margin-top: 50px;
}
.products-table-catalog .container:first-child{
    padding-left: 20px;
    padding-right: 20px;
}
.products-table-catalog .product{
    padding: 0px 15px;
    margin-bottom: 40px;
}
.products-table-catalog .product .link{
    display: block;
}
.products-table-catalog .product .link:hover .image-wrapper{
    background: #eae8e8;
}
.products-table-catalog .product .image-wrapper{
    background: #F8F8F8;
}
.products-table-catalog .product .image-wrapper img{
    max-width: 100%;
}
.products-table-catalog .product .info{
    background: #fff;
    border-right: 1px solid #D8DFE1;
    border-left: 1px solid #D8DFE1;
    border-bottom: 1px solid #D8DFE1;
    padding: 20px 15px 0px;
    overflow: hidden;
}
.products-table-catalog .product .info .title{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 20px;
}
.products-table-catalog .product .info .price{
    font-family: 'Oswald';
    color: #4A41DB;
    font-weight: 400;
    font-size: 20px;    
    text-align: right;
}
.products-table-catalog .product .info .advantages{
    margin: 35px 0px;
}
.products-table-catalog .product .info .advantages > ul{
    padding-left: 17px;
    list-style-type: square;
    color: #848789;
    font-family: 'OpenSans';
    font-size: 14px;
}
.products-table-catalog .product .info .advantages > ul > li{
    margin-bottom: 12px;
}
.products-table-catalog .product .info .advantages > ul > li p{
    display: inline-block;
}
.products-table-catalog .product .info .buttons{
    margin: 40px 0px 10px;
    text-align: right;
    display: flex;
    align-items: center;
}
.products-table-catalog .product .info .buttons button,
.products-table-catalog .product .info .buttons a,
.products-table-catalog .view-more-btn{
    border: 1px solid #4A41DB;
    border-radius: 2px;
    color: #4A41DB;
    padding: 10px 13px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'OpenSans';
    cursor: pointer;
    background: #fff;
}
.products-table-catalog .view-more-btn{
    font-size: 13px;
}
.products-table-catalog .product .info .buttons button:hover,
.products-table-catalog .product .info .buttons a:hover,
.products-table-catalog .view-more-btn:hover{
    background: #4A41DB;
    color: #fff;
}
.products-table-catalog .product .info .buttons button.buy-btn{
    margin-left: 20px;
    padding: 10px 16px;
}
.products-table-catalog .product .info .buttons button.compare-btn,
.products-table-catalog .product .info .buttons button.like-btn{
    margin-left: 2px;
}

.banners{
    margin: 110px 0px 70px;
}
.banners .banners-title{
    font-family: 'Oswald';
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 35px;
    text-transform: uppercase;
    /*padding-left: 0;*/
    /*padding-right: 0;*/
}
.banners .banners-wrapper{
    padding-right: 0px;
    margin-right: 0;
    padding-left: 0px;
}
.banners .banners-wrapper .tns-outer{
    position: relative;
    margin-left: 15px;
}
.banners .banners-wrapper .tns-outer:hover .tns-controls button{
    opacity: 1;
}
.banners .banners-wrapper .tns-outer .tns-controls1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;     
}
.banners .banners-wrapper .tns-outer .tns-controls button{
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;    
    background: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    border: none;
    padding: 25px 10px;   
    color: #fff; 
    cursor: pointer;    
}
.banners .banners-wrapper .tns-outer .tns-controls button:hover{
    background: #525252de;
}
.banners .banners-wrapper .tns-outer .tns-controls button[data-controls="next"]{
    right: 0;
}
.banners .banners-wrapper .tns-outer .tns-controls button[disabled]{
    display: none;
}
.banners .banners-wrapper .tns-outer .tns-nav{
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
}
.banners .banners-wrapper .tns-outer .tns-nav button{
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: none;
}
.banners .banners-wrapper .tns-outer .tns-nav button.tns-nav-active{
    background: #4A41DB;
}
.banners .banners-wrapper .banner{
    height: 460px;
}
.banners .banners-wrapper .banner a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.banners .banners-wrapper .banner a:hover .hover{
    opacity: 1;
}
.banners .banners-wrapper .banner a .hover{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #e0e0e063;
    top: 0;
    opacity: 0;
}
.banners .banners-wrapper .banner a .description{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #626363;
    color: #fff;
    padding: 30px;
    opacity: 0.9;
}
.banners .banners-wrapper .banner a .description h1{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 23px;
}
.banners .banners-wrapper .banner a .description p{
    font-family: 'OpenSans';
    font-size: 14px;
    margin-top: 10px;
}

.timer-offer{
    padding: 120px 0px 40px;
}
.timer-offer .offer-wrapper{
    background: #F8F8F8;
    padding: 60px 40px;
    border: 1px solid #D8DFE1;
}
.timer-offer .offer-wrapper h4{
    text-transform: uppercase;
}
.timer-offer .offer-wrapper h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 32px;    
    margin: 40px 0px 50px;
}
.timer-offer .offer-wrapper h4,
.timer-offer .offer-wrapper p{
    color: #848789;
    font-family: 'OpenSans';
    font-size: 14px;
}
.timer-offer .offer-wrapper .timer{
    margin: 55px 0px 70px;
}
.timer-offer .offer-wrapper .timer ul li{
    padding: 0px 20px;
}
.timer-offer .offer-wrapper .timer ul li:nth-child(2){
    border-right: 1px solid #66696D;
    border-left: 1px solid #66696D;
}
.timer-offer .offer-wrapper .timer ul li:nth-child(3){
    border-right: 1px solid #66696D;
}
.timer-offer .offer-wrapper .timer .date{
    font-family: 'Oswald';
    color: #161616;
    font-size: 29px;
}
.timer-offer .offer-wrapper .timer .title{
    font-family: 'OpenSans';
    color: #4A41DB;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 8px;
}
.timer-offer .offer-wrapper button{
    padding: 10px 16px;
    border: 1px solid #4A41DB;
    border-radius: 2px;
    color: #4A41DB;
    font-weight: 600;
    font-size: 14px;
    font-family: 'OpenSans';
    cursor: pointer;
    background: #fff;
}
.timer-offer .offer-wrapper button:hover{
    background: #4A41DB;
    color: #fff;
}

.subscription{
    padding: 150px 0px 110px;
    background: #fff;    
}
.subscription .title{
    font-family: 'Oswald';
    font-size: 20px;
    color: #161616;    
}
.subscription .text{
    font-family: 'OpenSans';
    font-size: 14px;
    color: #a0a0a0;
    font-weight: 100;
    margin: 25px 0px 30px;    
}
.subscription input{
    padding: 10px 46px 10px 14px;
    border-radius: 3px;
    border: 1px solid #D8DFE1;
    font-size: 12px;
    width: 300px;
    color: #4A41DB;
    font-family: 'OpenSans';    
}
.subscription input:hover{
    border-color: #4A41DB;
}
.subscription .icon {
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 16px;
    color: #4A41DB;
    cursor: pointer;
}

footer{
    background: #EEEEEE;    
    padding-top: 60px;
}
footer .container{
    padding: 0px 30px;
}
footer .title{
    font-size: 16px;
    color: #848789;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 12px;
    font-family: 'Oswald';
}
footer .address{
    line-height: 20px;
    font-size: 13px;
    color: #848789;    
    font-family: 'OpenSans';
}
footer .links li{
    margin-bottom: 5px;    
}
footer .links li a{
    border-bottom: 1px solid transparent;
    font-size: 13px;
    color: #848789;  
    font-family: 'OpenSans';      
}
footer .links li a:hover {
    border-bottom: 1px solid #848789;
}
footer .social-btn {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    padding: 8px 12px;
    border-radius: 3px;
    background: #d0d0d0;
    margin-right: 3px;
}
footer .social-btn.facebook{
    padding: 8px 14px;
}
footer .social-btn.facebook:hover{
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);    
}
footer .social-btn.instagram:hover{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
}
footer .copyright{
    font-size: 13px;
    color: #848789;  
    font-family: 'Oswald';       
    border-top: 1px solid #CED5D7;
    margin-top: 85px;
    padding: 18px 0px;
    text-align: center;
}

.catalog-way{
    padding: 20px 0px;
}
.catalog-way .content-wrapper{
    background: #4A41DB;
    padding: 30px 80px;
}
.catalog-way .way-name h1{
    font-size: 28px;
    font-weight: 100;
    font-family: 'Oswald';
    color: #fff;
}
.catalog-way .way-name h3{
    font-size: 15px;
    font-weight: 400;
    font-family: 'OpenSans';
    color: #fff;
    margin-top: 15px;
}
.catalog-way .content-wrapper .image{
    height: 260px;
    max-width: 35%;
}

.product-filters .filters-menu{
   margin-top: 25px;
}
.product-filters .filters-menu .products-count{
    font-family: 'Oswald';
    font-size: 15px;
    color: #161616;
}
.product-filters .filters-menu .filters-btn{
    border: 1px solid #4A41DB;
    border-radius: 2px;
    color: #fff;
    padding: 8px 12px;
    padding-right: 25px;
    font-weight: 100;
    font-size: 14px;
    font-family: 'OpenSans';
    cursor: pointer;
    background: #4A41DB;  
    margin-left: 25px;  
    position: relative;
}
.product-filters .filters-menu .filters-btn i{
    position: absolute;
    top: 10px;
    right: 4px;
    font-size: 18px;
}
.product-filters .filters-menu .compare-btn{
    border: 1px solid #848789;
    border-radius: 2px;
    color: #fff;
    padding: 8px 12px;
    font-weight: 100;
    font-size: 14px;
    font-family: 'OpenSans';
    cursor: pointer;
    background: #848789;  
    margin-right: 15px;  
}
.product-filters .filters-content{
    margin-top: 20px;
}
.product-filters .filters{
    display: none;
    background: #D8DFE1;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.12), inset 0 0 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.12), inset 0 0 1px rgba(0,0,0,0.2); 
    padding: 50px 30px;
    overflow: hidden;
}
.product-filters .filters .filter-wrapper{
    float: left;
    margin-right: 130px;
}
.product-filters .filters .filter-wrapper .title{
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 600;
    color: #5D6065;
    margin-bottom: 15px;    
}
.product-filters .filters .filter-wrapper .block{
    display: inline-block;
    font-family: 'OpenSans';
    font-size: 14px;
    background: #fff;
    color: #161616;
    padding: 14px 20px;
    margin-right: 5px;   
    cursor: pointer;
}
.product-filters .filters .filter-wrapper .block:hover,
.product-filters .filters .filter-wrapper .checker:hover .checkbox,
.product-filters .filters .filter-wrapper .checker .checkbox:hover{
    background: #f3f4f6;
}
.product-filters .filters .filter-wrapper .checker:hover .checkbox i,
.product-filters .filters .filter-wrapper .checker .checkbox:hover i{
    opacity: 1;
}
.product-filters .filters .filter-wrapper .checker{
    cursor: pointer;
    margin-bottom: 12px;
    overflow: hidden;
    display: inline-block;
}
.product-filters .filters .filter-wrapper .checker .checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: #fff;
    margin-right: 15px;
    text-align: center;
}
.product-filters .filters .filter-wrapper .checker .checkbox i{
    font-size: 13px;
    margin-top: 3px;
    opacity: 0;
}
.product-filters .filters .filter-wrapper .checker .label{
    float: left;
    color: #161616;
    font-family: 'OpenSans';
    font-size: 15px;
    margin-top: 2px;
}

.product-fixed-menu{
    background: #fff;
    padding: 30px 0 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: -100%;
    box-shadow: 0 0.0625em 0.625em rgba(39,43,55,0.25);
}
.product-fixed-menu .product-title{
    font-size: 26px;
    margin-left: 20px;
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;    
}
.product-fixed-menu .price{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 24px;
    margin-right: 25px;
}
.product-fixed-menu .product-menu{
    margin-top: 20px;
    padding-left: 4%;
    margin-bottom: 10px;    
}
.product-fixed-menu .buy-btn{
    border: 1px solid #4A41DB;
    border-radius: 2px;
    color: #fff;
    padding: 14px 30px;
    font-weight: 100;
    font-size: 14px;
    font-family: 'OpenSans';
    cursor: pointer;
    background: #4A41DB;
}
.product-page{
    padding: 50px 0 20px;
}
.product-page .product-avatar{
    padding-top: 30px;
}
.product-page .back-link{
    color: #848789;
    font-family: 'OpenSans';
    font-size: 13px;
    text-transform: uppercase;
}
.product-page .back-link i{
    font-size: 18px;
}
.product-page .product-title{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 27px; 
    margin: 12px 0px 35px;   
}
.product-page .additional-options{
    display: inline-block;
}
.product-page .additional-options .option-wrapper{
    float: left;
    margin-right: 100px;
}
.product-page .additional-options .option-wrapper:last-of-type{
    margin-right: 0px;
}
.product-page .additional-options .option-wrapper h3{
    font-family: 'Oswald';
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #a9a9a9;
    margin-bottom: 22px;
}
.product-page .additional-options .option-wrapper ul > li{
    display: inline;
    font-family: 'Oswald';
    font-size: 16px;
    color: #848789;    
    font-weight: 100;
    margin-right: 15px;
    cursor: pointer;
}
.product-page .additional-options .option-wrapper ul > li.active{
    color: #4A41DB;
    font-weight: bold;
}
.product-page .additional-options .option-wrapper ul > li:last-of-type{
    margin-right: 0px;
}
.product-page .price-info .price{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 25px;
    margin-right: 3px;
}
.product-page .price-info .last-price{
    color: #848789;
    font-family: 'Oswald';
    font-size: 17px;
    font-weight: 300;
    text-decoration: line-through;
    margin-right: 40px;
}
.product-page .price-info .discount-percent{
    background: #161616;
    color: #fff;
    font-family: 'Oswald';
    font-size: 12px;
    border-radius: 3px;
    padding: 2px 10px;
    margin-right: 30px;
}
.product-page .amount-checker{
    border: 1px solid #CED5D7;
    border-radius: 3px;
    padding: 9px 6px 7px 7px;
}
.product-page .amount-checker button,
.basket .wrapper .amount-checker button{
    font-size: 20px;
    color: #848789;
    background: none;
    border: none;
    cursor: pointer;
}
.product-page .amount-checker .amount-value,
.basket .wrapper .amount-checker .amount-value{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 16px;  
    margin: 0 2px;
}
.product-page .price-info .buy-btn{
    border: 1px solid #4A41DB;
    border-radius: 2px;
    color: #fff;
    padding: 14px 30px;
    font-weight: 100;
    font-size: 14px;
    font-family: 'OpenSans';
    cursor: pointer;
    background: #4A41DB;
    margin: 50px 0;
}
.product-page .price-info .line{
    height: 1px;
    width: 80%;
    background: #CED5D7;
    margin: 30px 0;
}
.product-page .price-info .compare-btn,
.product-page .price-info .like-btn{
    background: none;
    border: none;
    font-family: 'OpenSans';
    font-size: 13px;
    font-weight: 600;
    color: #848789;    
    cursor: pointer;
}
.product-page .price-info .compare-btn i,
.product-page .price-info .like-btn i{
    margin-right: 5px;
}
.product-page .price-info .compare-btn{
    margin-right: 20px;
}
.product-page .product-menu{
    margin-top: 60px;
    padding-left: 4%;
    margin-bottom: 10px;
}
.product-page .product-menu ul li,
.product-fixed-menu .product-menu ul li{
    display: inline;
}
.product-page .product-menu ul li a,
.product-fixed-menu .product-menu ul li a{
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 200;
    color: #848789;
    cursor: pointer;    
    margin-right: 40px;
    padding: 0px 5px 5px 5px;
}
.product-page .product-menu ul li.active a,
.product-fixed-menu .product-menu ul li.active a{
    border-bottom: 4px solid #4A41DB;
}
.product-page .product-menu ul li:last-of-type,
.product-fixed-menu .product-menu ul li:last-of-type{
    margin-right: 0;
}
.product-page .image-slider{
    background:#F8F8F8;
    padding: 80px 0px;
    margin-bottom: 100px;
}
.product-page .image-slider .active-slide img{
    width: 30%;
}
.product-page .image-slider .active-slide h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}
.product-page .image-slider .slides{
    margin-top: 50px;
}
.product-page .image-slider .slides .slide{
    background: #fff;
    padding: 20px 30px;
    margin-right: 10px;
    border-top: 4px solid transparent;
    box-shadow: 0 3px 18px 0 rgba(0,0,0,.06); 
    cursor: pointer;
}
.product-page .image-slider .slides .slide:hover{
    border-top: 4px solid #4A41DB;
}
.product-page .image-slider .slides .slide:last-of-type{
    margin-right: 10px;
}
.product-page .image-slider .slides .slide.active{
    border-top: 4px solid #4A41DB;
}
.product-page .image-slider .slides .slide img{
    width: 50px;
}
.product-page .image-slider .navigation{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    padding: 0 30px;
}
.product-page .image-slider .navigation button{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    border: none;
    padding: 25px 10px;
    color: #fff;
    cursor: pointer;
}
.product-page .video{
    margin-bottom: 80px;
}
.product-page .video h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 25px;
}
.product-page .btn-text{
    margin-bottom: 120px;
}
.product-page .btn-text h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 35px;    
}
.product-page .btn-text button{
    border:none;
    background: #4A41DB;
    padding: 8px 20px;
    font-size: 15px;
    font-family: 'OpenSans';
    font-weight: 100;
    color: #fff;
    border-radius: 1px;
}
.product-page .image-text{
    margin-bottom: 80px;
}
.product-page .image-text .text-wrapper{
    margin-left: 40px;
}
.product-page .image-text.text-image .text-wrapper{
    margin-left: 0px;
    margin-right: 40px;
}
.product-page .image-text .text-wrapper h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 35px;    
    margin-top: 30px;
}
.product-page .image-text .text-wrapper p{
    font-family: 'OpenSans';
    color: #161616;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
    white-space: pre-wrap;  
}
.product-page .image-text .text-wrapper button{
    border:none;
    background: #4A41DB;
    padding: 6px 20px;
    font-size: 14px;
    font-family: 'OpenSans';
    font-weight: 100;
    color: #fff;
    border-radius: 1px;
}
.product-page .specifications{
    background: #F8F8F8;
    padding: 70px 0px;
    margin: 150px 0;
}
.product-page .specifications h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 55px;    
}
.product-page .specifications .specifications-list li{
    margin-bottom: 40px;
}
.product-page .specifications .specifications-list .specifications-title{
    font-family: 'Oswald';
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #161616;
    margin-bottom: 10px;
}
.product-page .specifications .specifications-list .specifications-value{
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #a9a9a9;
}
.product-page .specifications button{
    border: none;
    background: #4A41DB;
    padding: 6px 20px;
    font-size: 14px;
    font-family: 'OpenSans';
    font-weight: 100;
    color: #fff;
    border-radius: 1px;
    margin-top: 35px;
    margin-right: 20px;
    cursor: pointer;
}
.product-page .specifications .full-features,
.product-page .specifications .full-specifications{
    display: none;
}
.product-page .specifications .feature{
    text-align: center;
    background-color: #fff;
    padding: 20px 15px;
    box-shadow: 0 3px 17px 0 rgba(0,0,0,.03);
    margin-bottom: 30px;
}
.product-page .specifications .feature:last-of-type{
    margin-bottom: 0px;
}
.product-page .specifications .feature img{
    width: 64px;
}
.product-page .specifications .feature .title{
    color: #161616;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0 12px;
}
.product-page .specifications .feature .text{
    color: #a9a9a9;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 13px;
}
.product-page .materials h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 75px;    
}
.product-page .materials table thead tr{
    border-bottom: 3px solid #CED5D7;
}
.product-page .materials table thead td{
    font-family: 'Oswald';
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #161616;
    padding-bottom: 25px;
}
.product-page .materials table thead td:first-child,
.product-page .materials table tbody td:first-child{
    padding-left: 25px;
}
.product-page .materials table tbody td{
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #a9a9a9;
    padding: 25px 0px;
    border-bottom: 1px solid #CED5D7;
}
.product-page .materials table tbody tr:last-of-type td{
    border-bottom: none;
}
.product-page .materials table tbody td img{
    width: 30px;
    cursor: pointer;
}
.product-page .related-products{
    margin-top: 180px;
}
.product-page .related-products h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;    
}
.product-page .related-products .products-table-catalog .product .image-wrapper img,
.account-wish-list .products-table-catalog .product .image-wrapper img,
.account-order-details .products-table-catalog .product .image-wrapper img{
    width: 200px;
}
.products-table-catalog .product .info{
    padding: 20px 15px 14px;
}
.product-page .related-products .products-table-catalog .product .info .title,
.account-wish-list .products-table-catalog .product .info .title,
.account-order-details .products-table-catalog .product .info .title{
    font-size: 18px;
    margin-bottom: 35px;
}
.product-page .related-products .products-table-catalog .product .info .buttons,
.account-wish-list .products-table-catalog .product .info .buttons,
.account-order-details .products-table-catalog .product .info .buttons{
    margin:0;
    text-align: inherit;
}
.product-page .related-products .products-table-catalog .product .info .buttons button,
.account-wish-list .products-table-catalog .product .info .buttons button,
.account-order-details .products-table-catalog .product .info .buttons button{
    padding: 6px 10px;
}

.form-wrapper{
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
.form-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
}
.form-wrapper form{
    display: block;
    padding: 45px 30px;
    background: #FFF;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);    
}
.form-wrapper form h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 27px;    
}
.form-wrapper form p{
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 200;
    color: #848789;
    margin: 30px 0px 15px;    
}
.form-wrapper form .form-group{
    margin-top: 30px;
}
.form-wrapper form .form-group.up-tooltip{
    margin-top: 5px;
}
.form-wrapper form .form-group input{
    padding: 10px 46px 10px 14px;
    border-radius: 3px;
    border: 1px solid #D8DFE1;
    font-size: 12px;
    width: 100%;
    color: #4A41DB;
    font-family: 'OpenSans';
}
.form-wrapper form .form-group input:hover,
.form-wrapper form .form-group input:focus {
    border-color: #4A41DB;
}
.form-wrapper form .form-group .icon{
    position: absolute;
    top: 1px;
    right: 18px;
    font-size: 16px;
    color: #4A41DB;
    height: calc(100% - 2px);
    padding-left: 18px;
    border-left: 1px solid #D8DFE1;    
}
.form-wrapper form .form-group .tooltip{
    font-family: 'OpenSans';
    font-size: 11px;
    font-weight: 100;
    color: #848789;
    padding: 8px 0;
}
.form-wrapper form .form-group .tooltip.right{
    text-align: right;
}
.form-wrapper form .form-group .password-tooltip span{
    cursor: pointer;
}
.form-wrapper form .form-group .checker:hover .checkbox,
.form-wrapper form .form-group .checker .checkbox:hover{
    background: #f3f4f6;
}
.form-wrapper form .form-group .checker:hover .checkbox i,
.form-wrapper form .form-group .checker .checkbox:hover i{
    opacity: 1;
}
.form-wrapper form .form-group .checker{
    cursor: pointer;
    margin-bottom: 12px;
    overflow: hidden;
    display: inline-block;
}
.form-wrapper form .form-group .checker .checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: #EEEEEE;
    margin-right: 15px;
    text-align: center;
}
.form-wrapper form .form-group .checker .checkbox i{
    font-size: 13px;
    margin-top: 3px;
    opacity: 0;
}
.form-wrapper form .form-group .checker .label{
    float: left;
    font-family: 'OpenSans';
    font-size: 12px;
    font-weight: 100;
    color: #848789;
    margin-top: 4px;
}
.form-wrapper form .form-group button{
    display: block;
    border: none;
    background: #4A41DB;
    padding: 12px 0px;
    font-size: 14px;
    font-family: 'OpenSans';
    font-weight: 100;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.account-menu{
    background: #F8F8F8;
}
.account-menu .tab{
    display: inline-block;
    text-align: center;
    position: relative;
    width: 130px;
    border-right: 1px solid #fff;
    margin-left: -4px;
    cursor: pointer;
}
.account-menu .tab.active{
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);    
}
.account-menu .tab:not(.active):hover{
    background: #eae8e8;
}
.account-menu .tab .wrapper{
    padding: 30px 0;
}
.account-menu .tab .wrapper .title{
    font-family: 'Oswald';
    color: #848789;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 5px;
}
.account-menu .tab .wrapper .icon i{
    color: #c0c6c7;
    font-size: 26px;
}

.account-orders-history.form-wrapper form h1{
    margin-bottom: 15px;
}
.account-orders-history .order{
    margin-top: 35px;
    background: #fff;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);    
}
.account-orders-history .order ul li{
    margin-bottom: 7px;
}
.account-orders-history .order ul li:last-of-type{
    text-align: right;
}
.account-orders-history .order .param{
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #161616;
}
.account-orders-history .order .value{
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #a9a9a9;
}
.account-orders-history .order button{
    border: none;
    background: #4A41DB;
    padding: 5px 16px;
    font-size: 13px;
    font-family: 'OpenSans';
    font-weight: 100;
    color: #fff;
    border-radius: 1px;
    margin-top: 15px;
    cursor: pointer;    
}
.account-order-details .close-btn{
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    border: 1px solid #5ED4FB;
    padding: 6px 8px 5px;
}
.account-order-details .close-btn .icon{
    font-size: 18px;
}

.modal-window{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(115, 115, 113, 0.5);
    z-index: 99;
    opacity: 0;
    transform: translateY(100%);
    padding: 30px 0;
}
.modal-window.active{
    opacity: 1;
    transform: translateY(0%);
}

.basket{
    padding: 60px 0;
}
.basket .wrapper{
    padding: 45px 30px;
    background: #FFF;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);    
}
.basket .wrapper h1{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 27px; 
    margin-bottom: 40px;   
}
.basket .wrapper .image{
    background: #F8F8F8;
}
.basket .wrapper .image img{
    width: 80px;
}
.basket .wrapper .title{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 20px;
    margin-left: 30px;
}
.basket .wrapper .price{
    font-family: 'Oswald';
    color: #4A41DB;
    font-weight: 400;
    font-size: 20px;    
    margin-right: 35px;
}
.basket .wrapper .amount-checker{
    border: 1px solid #CED5D7;
    border-radius: 3px;
    padding: 2px 6px;    
}
.basket .wrapper .close-btn{
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    border: 1px solid #5ED4FB;
    padding: 6px 8px 5px;    
}
.basket .wrapper .close-btn .icon{
    font-size: 18px;
}
.basket .wrapper hr{
    margin: 30px 0;
}
.basket .wrapper .order-summary{
    margin-bottom: 50px;
}
.basket .wrapper .order-summary .order-text{
    max-width: 55%;
    color: #a9a9a9;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 13px;    
}
.basket .wrapper .order-summary .order-info{
    margin-left: 10%;
}
.basket .wrapper .order-summary .order-info .total-sum{
    font-family: 'Oswald';
    color: #161616;
    font-weight: 400;
    font-size: 19px;
}
.basket .wrapper .order-summary .order-info .sum{
    font-family: 'Oswald';
    color: #4A41DB;
    font-weight: 400;
    font-size: 20px;
    margin-left: 15px;
}
.basket .wrapper .go-checkout{
    background: #4A41DB;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'OpenSans';
    font-weight: 100;
    color: #fff;
    border-radius: 1px;
}
.checkout-basket{
    padding: 0;
}
.checkout-basket .wrapper{
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none
}
.checkout-basket .wrapper .order-summary{
    margin-bottom: 0;
}