.woocommerce #reviews #comments h2 {
  margin-bottom: 30px;
}

.woocommerce #review_form #respond .form-submit input {
  border-radius: 2px;
  padding: 10px 13px;
  font-size: 14px;
  font-family: Montserrat,Oswald,OpenSans;
  cursor: pointer;
  border: 1px solid #4a41db;
  color: #4a41db;
  background: #fff;
  width: auto;
  line-height: 18px;
}