.woof_container_inner h4{
  font-family: 'Montserrat', Oswald, OpenSans;
  font-size: 14px;
  font-weight: 600;
  color: #5d6065;
  margin-bottom: 15px;
}
.woof_reset_search_form {
  display: none!important;
}