.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  display: block;
  border: none;
  background: #4A41DB!important;
  padding: 12px 0px;
  font-size: 14px;
  font-family: 'OpenSans';
  font-weight: 100;
  color: #fff;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}