button:disabled, button[disabled] {
  background-color: #8b85e4!important;
}
body {
  font-family: 'Montserrat', Oswald, OpenSans;
}

.title {
  &__xl {
    color: #161616;
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 40px;
  }
}
.wrapper {
  padding-top: 45px;
  padding-bottom: 45px;
}

img {
  max-width: 100%;
}