.dropdown__widget {
  position: relative;
}
body .widget_shopping_cart_content {
  position: absolute;
  top: 0;
  right: 0;
  background: #222330;
  z-index: 420;
  min-width: 300px;
  img {
    display: none;
  }
  a, p, span {
    font-size: 15px!important;
    color: #fff;
    display: inline-block!important;
    &.remove {
      color: red!important;
      width: 1em;
      text-align: center;
      line-height: 1;
      border-radius: 100%;
      &:hover {
        color: #fff!important;
        background: red;
      }
    }
    &.quantity {
      span {
        color: #4a41db;
      }
    }
  }
}