$laptop-width: 1700px;
$laptop-width: 1399px;
$tablet-width: 1199px;
$mobile-width: 767px;

@mixin adaptive($size) {
  @if $size == laptop {
    @media (max-width: $laptop-width) {
      @content
    }
  } @else if $size == tablet {
    @media only screen and (max-width: $tablet-width) {
      @content
    }
  }  @else if $size == mobile {
    @media only screen and (max-width: $mobile-width) {
      @content
    }
  }
}
@include adaptive(laptop) {
  .container{
    width: 1120px;
  }
}

@include adaptive(tablet) {
  .container{
    width: 688px;
  }
}

@include adaptive(mobile) {
  .container{
    width: 320px;
    padding: 0 12px;
  }
}