.container{
  width: 1320px;
  margin:0 auto;
  position: relative;
}
.section--blue{
  background: #F5F7FF;
}
.section--purple{
  background: rgba(230, 215, 255, 0.3);
}
.section--light-purple{
  background: linear-gradient(0deg, #FFFFFF 0%, #F8F3FF 100%);
}
.section--brand{
  background: #8E3DFF;
}
.section--light-grey{
  background: #F2F2FA;
}

